.file__editor {
	// max-height: 80%;

	.file__line {
		overflow: hidden;
		position: relative;
		white-space: pre;
		line-height: 1.6rem;
		// margin: 11px 5px; //problem with splitter
		font-size: 13px;

		.char__element {
			&:hover {
				border: 1px solid red;
				&::before {
					content: '\25bc';
					color: blue;
					position: absolute;
					top: -15px;
				}
			}
		}
	}
}
