.editor {
	background-image: linear-gradient(to right, #2b5876, #4e4376);
	width: 100%;
	height: 100%;

	main {
		min-height: 42rem;
		height: 44rem;
	}

	.translation {
		height: 100%;
		width: 100%;

		.p-datatable .p-datatable-thead > tr > th,
		.p-datatable .p-datatable-tbody > tr {
			background: #4b5563 !important;
			color: #fff;
		}
		
		.p-datatable .p-datatable-thead > tr > th,
		.p-datatable .p-datatable-tbody > tr > td {
			border: 1px solid #3f4752;
		}
	}

	.files__editor {
		height: 100%;
		width: 100%;

		.p-splitter {
			.p-splitter-panel:first-of-type {
				max-width: 21rem;
			}

			.p-splitter-gutter {
				margin: 0rem 0.4rem !important;
			}
		}
	}

	.p-splitter {
		background: none;
		border: none;

		.p-splitter-gutter {
			background: #374051;
			margin: 8.2rem 0.4rem 0 0.4rem;

			.p-splitter-gutter-handle {
				background: #2f3746;
			}
		}
	}
}
